	</main>
	<footer>
		<%_ var space = '<span class="space" style="margin-right: 15px"></span>'; _%>
		<a class="fab fa-instagram" target="_blank" aria-hidden="true" href="http://instagram.com/_thecsgram"></a><%- space %>
		<a class="fab fa-youtube" target="_blank" aria-hidden="true" href="https://www.youtube.com/channel/UC0aXn5NX6Q9nYspOr9jpUUA"></a><%- space %>
		<a class="fab fa-facebook" target="_blank" aria-hidden="true" href="https://facebook.com/thecs.co"></a><%- space %>
		<a class="fab fa-twitter" target="_blank" aria-hidden="true" href="https://twitter.com/_thecs"></a><%- space %>
		<a class="fab fa-soundcloud" target="_blank" aria-hidden="true" href="https://soundcloud.com/thecscloud"></a>
	</footer>
</body>
</html>
