<%_ include partials/header _%>
    <div class="content-container" style="padding-top: 2em;">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#articles">ARTICLES</a></li>
        </ul>
        <div class="tab-content container">
            <div id="articles" class="tab-pane fade in active">
                <form method="post" action="/news/article/new">
                    <label>HEADLINE</label>
                    <input type="text" name="headline" id="headline" required>
                    <div class="input-group" style="display: block">
                        <div class="col-sm-3"><label>MAIN IMAGE(S):</label></div>
                        <div class="col-sm-9"><input type="file" name="headline_images" id="headline_images" accept="image/*" multiple></div>
                    </div>
                    <label>ARTICLE BODY <br><span>To insert additional images/videos, place each embed code (for videos) or image URL on a separate line.</span></label>
                    <textarea name="textbody" id="textbody" rows="10" required></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
            <div id="" class="tab-pane fade"></div>
        </div>
    </div>
    <script>
        $("#articles form").submit(function(e) {
            e.preventDefault();
            var textbody = document.getElementById("textbody");
            textbody.value = textbody.value.replace(/(width|height|style)=\"(.*?)\"/gi, "").replace(/<iframe /gi, '<iframe style="height: 350px; width: 100%"');
            var data = { headline_images: [], textbody_media: textbody.value.match(/(.*?).(png|jpg|jpeg|gif)|<iframe(.*?)<\/iframe>/gi) || [] };
            $(this).serializeArray().forEach(function(field) {
                var name = field.name;
                data[name] = field.value;
            });
            $.each(document.getElementById("headline_images").files, function(i, file) {
                data.headline_images.push(URL.createObjectURL(file));
            });
            $.post(this.action, data, function(result) {
                console.log(result);
                data.headline_images.forEach(function(url) { URL.revokeObjectURL(url) });
                e.target.reset();
            });
        });
    </script>
<%_ include partials/footer _%>
