<%_ include partials/header _%>
    <div class="content-container" style="padding-top: 2em;">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#home">HOME</a></li>
            <li><a data-toggle="pill" href="#articles">ARTICLES</a></li>
            <li><a data-toggle="pill" href="#discography">DISCOGRAPHY</a></li>
            <li><a data-toggle="pill" href="#artists">ARTISTS</a></li>
            <li><a data-toggle="pill" href="#locations">LOCATIONS</a></li>
            <li><a data-toggle="pill" href="#mail">MAIL</a></li>
            <li><a data-toggle="pill" href="#edit">EDIT</a></li>
            <li><a data-toggle="pill" href="#remove">REMOVE</a></li>
        </ul>
        <div class="tab-content container">
            <div id="home" class="tab-pane fade in active">
            <%_ include partials/admin/home _%>
            </div>

            <div id="articles" class="tab-pane fade">
            <%_ include partials/admin/articles _%>
            </div>

            <div id="discography" class="tab-pane fade">
            <%_ include partials/admin/discography _%>
            </div>

            <div id="artists" class="tab-pane fade">
            <%_ include partials/admin/artists _%>
            </div>

            <div id="locations" class="tab-pane fade">
            <%_ include partials/admin/locations _%>
            </div>

            <div id="edit" class="tab-pane fade">
            <%_ include partials/admin/edit _%>
            </div>

            <div id="remove" class="tab-pane fade">
            <%_ include partials/admin/remove _%>
            </div>

            <div id="mail" class="tab-pane fade">
            <%_ include partials/admin/mail _%>
            </div>
        </div>
    </div>
    <script>
        var readDataURLs = function(files, cb) {
            $.each(files, function(i, file) {
                var reader = new FileReader();
                reader.onload = cb;
                reader.readAsDataURL(file)
            });
        };
        var showMessage = function(result) {
            var reload = confirm(result + "\n\nRefresh page?");
            if (reload) location.reload();
        };

        $("#headline_images, #headline_images_change").change(function() {
            var $form = $(this).closest("form");
            var files = this.files;
            var $thumb_choice = $form.find(".headline-image-thumb-choice");
            $thumb_choice.find("input").off("change").end().empty().hide();
            $form.find(".headline-image-data").empty();
            if (files.length) {
                var $submitInput = $form.children("input:submit");
                var counter = 0;
                var label = "<label>CHOOSE ARTICLE THUMBNAIL</label>";
                $submitInput.attr("disabled", true);
                $thumb_choice.show().append(label);
                readDataURLs(files, function(e) {
                    var url = e.target.result;
                    var name = "headline_image_thumb";
                    var $input = $("<input>").attr({ type: "radio", name, value: url, required: true });
                    var $img = $("<img>").attr({ src: url });
                    $form.find(".headline-image-data").append( $("<input>").attr({ type: "hidden", name: "headline_images" }).val(url) );
                    $thumb_choice.append($input.add($img));
                    counter += 1;
                    if (counter === files.length) $submitInput.attr("disabled", false);
                });
            }
        });

        $("#textbody, #textbody_edit").keyup(function() {
            var textbody = this;
            var $tbm_container = $(this).closest("form").find(".textbody_media");
            var spots = textbody.value.match(/^x$/gim) || [];
            var current_values = $tbm_container.find("input:text").map(function() { return this.value }).get();
            if ($tbm_container.html()) $tbm_container.empty();
            if (spots.length) {
                spots.forEach(function(spot, i) {
                    var $fileInput = $("<input>").attr({ class: "input-"+i, type: "file", id: "upload-"+i }).css({ display: "initial", width: "auto" });
                    var $clearUploadsButton = $("<button>").attr({ class: "clear-uploads", "data-id": "upload-"+i }).text("CLEAR FILE UPLOAD");
                    var $textInput = $("<input>").attr({ class: "input-"+i, type: "text", name: "textbody_media", required: true, placeholder: "...or enter image URL or embed code" });
                    $fileInput.add($clearUploadsButton).add($textInput.val(current_values[i])).appendTo($tbm_container);
                });

                $tbm_container.find("input:file").change(function() {
                    var files = this.files;
                    var $textInput = $(this).nextAll("input:text." + this.className);
                    var filesPresent = Boolean(files && files.length);
                    $textInput.val(filesPresent ? "N/A" : "").attr("disabled", false).next(":hidden").remove();
                    if (filesPresent) {
                        readDataURLs(files, function(e) {
                            $textInput.val("N/A").attr("disabled", true).after($("<input>").attr({ type: "hidden", name: "textbody_media", value: e.target.result }));
                        });
                    }
                }).end().find(".clear-uploads").click(function(e) {
                    e.preventDefault(); $tbm_container.find(":file#"+this.dataset.id).val("").change()
                });
            }
        });
        $(".clear-uploads").click(function(e) {
            e.preventDefault();
            $("#"+this.dataset.id).val("").change();
        });

        $(":input[id*=all_platforms]").change(function() {
            $(this).closest("form").find(".link-item").not(":first").remove()
                   .end().find(":input[type=url]").val("").attr({ required: !this.checked })
                   .end().find(":input").attr({ disabled: this.checked })
        });

        $(".file-upload-container :file").change(function() {
            var files = this.files;
            var $image_data = $(this).closest(".file-upload-container").find(":hidden").val("");
            if (files && files.length) {
                var $submitInput = $(this).closest("form").children("input:submit").attr("disabled", true);
                readDataURLs(files, function(e) {
                    $image_data.val(e.target.result);
                    $submitInput.attr("disabled", false);
                });
            }
        });

       $(".input-group .input-item :input").on("change keyup", function() {
            var $groupInputs = $(this).closest(".input-item").find(":input");
            var notEmpty = $groupInputs.filter(function() { return this.value }).length > 0;
            $groupInputs.attr("required", notEmpty);
        });
        $(".input-group .input-item button").click(function(e) {
            e.preventDefault();
            var $form = $(this).closest("form");
            var $item = $(this).closest(".input-item");
            switch (this.className) {
                case "add":
                    $item.clone(true).find(":input").not("button").val("").end().end().insertAfter($item);
                    break;
                case "remove":
                    if ($form.find(".input-item").length > 1) $item.remove();
                    break;
            }
        });

        $.post("/search", function(docs) {
            $("#edit select[id*='_id']").change(function() {
                var $form = $(this).closest("form");
                var id = this.value;
                var result = (docs || []).filter(function(item) { return id == item._id })[0] || {};
                $form.find(".clear-uploads").click();

                $form.find("#artist_name_edit").val(result.name);
                $form.find("#artist_bio_edit").val(result.bio);
                var $group = $form.find(".social-media-input-group");
                $group.find(".social-media-input").find(":input").val("").end().not(":first").remove();
                (result.socials || []).forEach(function(social, i) {
                    if (i == 0) $group.empty();
                    var $clone = $("#artists .social-media-input").clone(true);
                    $clone.find(".social-media-name").val(social.name).end()
                          .find(".social-media-url").val(social.url).end()
                          .appendTo($group);
                });

                $form.find("#headline_edit").val(result.headline);
                var $thumb_choice = $form.find(".headline-image-thumb-choice");
                var images = result.headline_images;
                $thumb_choice.find("input").off("change").end().empty().hide();
                if (images && images.length) {
                    $thumb_choice.show().append("<label>CHOOSE ARTICLE THUMBNAIL</label>");
                    images.forEach(function(image) {
                        var $input = $("<input>").attr({ type: "radio", name: "headline_image_thumb", value: image });
                        var $img = $("<img>").attr({ src: image });
                        $thumb_choice.append($input.add($img));
                    })
                }
                $form.find(".headline-image-data").empty();
                $form.find("#textbody_edit").val(result.textbody).keyup().end().find(".textbody_media input:text").each(function(i) {
                    this.value = result.textbody_media[i];
                });

                $form.find("#artwork_url_edit").val(result.artwork);
                $form.find("#title_edit").val(result.title);
                $form.find("#artist_edit").val(result.artist);
                $form.find("#year_edit").val(result.year);
                var $group = $form.find(".link-item-group");
                $group.find(".link-item").find(":input").val("").end().not(":first").remove();
                (result.links || []).forEach(function(link, i) {
                    if (i == 0) $group.empty();
                    var $clone = $("#discography .link-item").clone(true);
                    $clone.find(".link-name").val(link.name).end()
                          .find(".link-url").val(link.url).end()
                          .appendTo($group);
                });

                $form.find("#all_platforms_change").attr("checked", result.all_platforms);

                $form.find("#location_name_edit").val(result.name);
                $form.find("#street_address_edit").val(result.street_address);
                $form.find("#city_edit").val(result.city);
                $form.find("#country_edit").val(result.country);
                $form.find("#postcode_edit").val(result.postcode);

                $form.find("#firstname_edit").val(result.firstname);
                $form.find("#lastname_edit").val(result.lastname);
                $form.find("#email_edit").val(result.email);
                $form.find("#size_top_edit").val(result.size_top);
                $form.find("#size_bottom_edit").val(result.size_bottom);
                $form.find("#extra_info_edit").val(result.extra_info);
            });

            $("#mail form #recipient_email").change(function() {
                var $form = $(this).closest("form");
                var email = this.value;
                var result = docs.filter(function(m) { return email == m.email })[0] || {};
                var exists = !!Object.values(result).length;

                $form.find("#recipient_details").css("display", exists ? "block" : "none").html(
                    "<b>Name</b>: " + result.firstname + " " + result.lastname + "<br> " +
                    "<b>Sizes</b>: " + result.size_top + " (Top), " + result.size_bottom + " (Bottoms)<br> " +
                    (result.extra_info ? "<b>Extra info</b>: " + result.extra_info.trim().replace(/\r?\n/g, "<br>") + "<br>" : "")
                );
            });
        });

        $("#artists form, #edit-artist form, #articles form, #edit-article form, "+
        "#discography form, #edit-project form").submit(function(e) {
            e.preventDefault();
            $.post(this.action, $(this).serializeArray(), function(result) {
                showMessage(result);
                e.target.reset();
            }).fail(function(err, status, codeMessage) {
                showMessage(codeMessage + (err ? ": " + err : ""));
            });
        });

        $("#locations form, #mail form, #homepage_content_form, " +
          "#edit-location form, #edit-member form, #reorder-homepage-image form, #reorder-article form").submit(function(e) {
            e.preventDefault();
            var form = this;
            var data = Object.assign([], $(form).serializeArray());
            var $submitBtn = $(form).find("input[type=submit]");
            var refresh = !!$(form).closest("#edit-location").length;
            var max = value = parseInt($(form).find("#homepage_image_index").attr("max")) + 1;
            $submitBtn.attr("disabled", true);

            $.post(form.action, data, function(result) {
                e.target.reset();
                $(form).find("#homepage_image_index").attr({ max, value }).val(value);
                showMessage(result, e.target, refresh);
            }).fail(function(err, status, codeMessage) {
                showMessage(codeMessage + (err ? ": " + err : ""));
            }).always(function() {
                $submitBtn.attr("disabled", false);
            });
        });

        $("#remove form").submit(function(e) {
            e.preventDefault();
            var form = this;
            var data = Object.assign([], $(form).serializeArray());

            $.post(form.action, $(form).serializeArray(), function(result) {
                showMessage(result, e.target);
                $(form).find(":input:checked, :input:checked + span, :input:checked + span + br").slideUp(function() {
                    $(this).remove();
                    data.forEach(function(field) { $("option[value="+ field.value +"]").remove() });
                });
            }).fail(function(err, status, codeMessage) {
                showMessage(codeMessage + (err ? ": " + err : ""));
            });
        });

        $(".text-emphasis-styles > button").click(function(e) {
            e.preventDefault();
            var $textarea = $("#"+this.parentNode.dataset.id);
            var value = $textarea.val();
            var selectionStart = $textarea.prop("selectionStart");
            var selectionEnd = $textarea.prop("selectionEnd");
            var selection = value.slice(selectionStart, selectionEnd);
            var before = value.slice(0, selectionStart);
            var after = value.slice(selectionEnd, value.length);
            var em = this.firstChild.tagName.toLowerCase();
            if (selection.length) $textarea.val( before + "<"+em+">" + selection +"</"+em+">" + after );
            $textarea.get(0).focus();
        });

        $(".section-dropdown-options select").change(function() {
            $(this).closest(".sidebar").find(".nav-pills a[href='"+ this.value +"']").click()
        });

        var homepage_image = "", homepage_image_filename = "";
        $("#homepage_image_input").change(function() {
            var $form = $(this).closest("form");
            var files = this.files;
            if (files && files.length === 1) {
                var $submitInput = $(this).closest("form").children("input:submit");
                $submitInput.attr("disabled", true);
                readDataURLs(files, function(e) {
                    homepage_image = e.target.result;
                    $form.find("#homepage_image_filename").val(files[0].name);
                    $submitInput.attr("disabled", false);
                });
            }
        });
        $("#homepage_images_form").submit(function(e) {
            e.preventDefault();
            var data = { homepage_image };
            $(this).serializeArray().forEach(function(field) {
                var name = field.name;
                data[name] = field.value;
            });

            $.post(this.action, data, function(result) {
                e.target.reset();
                showMessage(result, e.target);
            }).fail(function(err, status, codeMessage) {
                showMessage(codeMessage + (err ? ": " + err : ""));
            });
        });
    </script>
<%_ include partials/footer _%>
