<%- include ('partials/header') -%>
    <div class="content-container" id="payment-form-container">
        <div class="content container">
            <form id="payment-details-form" action="/shop/checkout/payment/create">
                <div class="row">
                    <div class="col-sm-6 float-left">
                        <label for="firstname">FIRST NAME</label>
                        <input type="text" name="firstname" id="firstname" required>
                    </div>
                    <div class="col-sm-6 float-left">
                        <label for="lastname">LAST NAME</label>
                        <input type="text" name="lastname" id="lastname" required>
                    </div>
                </div>

                <label for="email">EMAIL</label>
                <input type="email" name="email" id="email" required>

                <label for="address_l1">ADDRESS</label>
                <input type="text" name="address_l1" id="address_l1" placeholder="LINE 1" required>
                <input type="text" name="address_l2" id="address_l2" placeholder="LINE 2 (OPTIONAL)">

                <div class="row">
                    <div class="col-sm-6 float-left">
                        <label for="city">CITY</label>
                        <input type="text" name="city" id="city" required>
                    </div>

                    <div class="col-sm-6 float-left">
                        <label for="country">COUNTRY</label>
                        <select class="custom-select" id="country" name="country" required>
                            <option value="">-</option>
                            <%_ countries.forEach(c => { _%>
                            <option value="<%- c.code %>"><%- c.name %></option>
                            <%_ }) _%>
                        </select>
                    </div>

                    <div class="col-sm-6 float-left">
                        <label for="postcode">POST / ZIP CODE</label>
                        <input type="text" name="postcode" id="postcode" required>
                    </div>

                    <div class="col-sm-6 float-left">
                        <label for="state">STATE</label>
                        <input type="text" name="state" id="state" placeholder="OPTIONAL">
                    </div>
                </div>
                <input type="submit" value="CONTINUE TO PAYMENT">
            </form>
        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        $("#payment-details-form").submit(function(e) {
            e.preventDefault();
            var btnControl = new submitBtnController(this, "REDIRECTING");
            $.post(this.action, $(this).serializeArray(), function(data) {
                return Stripe(data.pk).redirectToCheckout({ sessionId: data.id });
            }).then(function(result) {
                if (result.error) { btnControl.finish(); alert(result.error.message); }
            }).fail(function(err, status, codeMessage) {
                btnControl.finish();
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            });
        })
    </script>
<%- include ('partials/footer') -%>