<%- include ('partials/header') -%>
    <div class="content-container">
        <div class="content container" style="padding: 2em 0; text-align: center">
            <h1>Payment Successful</h1>
            <p>A reciept has been forwarded to your email address.</p>
            <p>Thank you for your purchase!</p>
        </div>
    </div>
<%- include ('partials/footer') -%>