<%- include ('partials/header', { title: "Payment Cancelled", pagename: "checkout-cancel" }) -%>
    <div class="content-container">
        <div class="content container" style="padding: 2em 0; text-align: center">
            <h1>Payment Cancelled</h1>
            <p>Continue shopping or return to <a style="text-decoration: underline" href="/shop/checkout">checkout</a>.</p>
        </div>
    </div>
<%- include ('partials/footer') -%>
