<%_ include partials/header _%>
    <div class="container">
        <div class="project-thumb content-container col-sm-4">
            <div class="content">
                <div class="img-wrapper">
                    <div class="img" style="background-image: url('/img/Zaire_The Lotus Moonstone_Front (2).jpg');"></div>
                </div>
                <div class="text">
                    <h1>TITLE</h1>
                    <p>Info</p>
                </div>
            </div>
        </div>
    </div>
<%_ include partials/footer _%>
