<%_ include partials/header _%>
    <div style="padding: 50px 10px; text-align: center;">
        <h1>PAGE NOT FOUND</h1>
        <p>DOESN'T EXIST OR COMING SOON...</p>
    </div>
<%_ include partials/footer _%>
