<%- include ('partials/header', { title: typeof title != "undefined" ? title : "Error", pagename: "error" }) -%>
    <div style="padding: 50px 10px; text-align: center;"><%- html %></div>
<%- include ('partials/footer') -%>
