<%_ include partials/header _%>
    <div style="padding: 50px 10px; text-align: center;">
        <h1>PAGE NOT FOUND</h1>
        <p>DOESN'T EXIST OR IT'S UNDER CONSTRUCTION...</p>
        <p>PLEASE TRY AGAIN LATER.</p>
    </div>
<%_ include partials/footer _%>
