<%_ include partials/header _%>
	<section>
		<div class="video-container content-container"><div class="video content"></div></div>
	</section>
	<section class="merch-highlights-section container">
		<div class="merch-highlights content-container col-sm-4 col-xs-6"><div class="merch content"></div></div>
		<div class="merch-highlights content-container col-sm-4 col-xs-6"><div class="merch content"></div></div>
		<div class="merch-highlights content-container col-sm-4 col-xs-6"><div class="merch content"></div></div>
	</section>
<%_ include partials/footer _%>
