<%_ include partials/header _%>
    <div class="container">
        <form method="POST" action="/mailing-list/new" id="sign-up-form">
            <div class="input-group" style="display: block">
                <div class="col-sm-6">
                    <label>FIRST NAME</label>
                    <input type="text" name="firstname" id="firstname" required>
                </div>
                <div class="col-sm-6">
                    <label>LAST NAME</label>
                    <input type="text" name="lastname" id="lastname" required>
                </div>
            </div>
            <label>EMAIL</label>
            <input type="email" name="email" id="email" required>
            <div class="input-group" style="display: block">
                <%_ var sizes = ["XS", "S", "M", "L", "XL", "XXL", "XXXL"]; _%>
                <div class="col-sm-6">
                    <label>SIZE (TOP)</label>
                    <select name="size_top" id="size_top" required>
                        <option value="">Select size</option>
                        <%_ sizes.forEach(size => { _%>
                        <option value="<%= size %>"><%= size %></option>
                        <%_ }) _%>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>SIZE (BOTTOMS)</label>
                    <select name="size_bottom" id="size_bottom" required>
                        <option value="">Select size</option>
                        <%_ sizes.forEach(size => { _%>
                        <option value="<%= size %>"><%= size %></option>
                        <%_ }) _%>
                    </select>
                </div>
            </div>
            <label>EXTRA INFO (OPTIONAL)</label>
            <textarea name="extra_info" id="extra_info"></textarea>
            <input type="submit" value="SIGN UP">
        </form>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            $.post(this.action, $(this).serializeArray(), function(result) {
                alert(result);
                e.target.reset();
            });
        });
    </script>
<%_ include partials/footer _%>
