<%_ include partials/header _%>
    <article class="full content-container">
        <h1 style="text-align: center;"><%- article.headline %></h1>
        <div class="article-content">
            <%_ if (article.headline_images.length) { _%>
            <div class="headline-images img-reel">
                <%_ article.headline_images.forEach(image => { _%>
                <img src="<%= image %>" alt="">
                <%_ }) _%>
            </div>
            <%_ }
            if (article.headline_images.length) { _%>
            <div class="img-reel-nav">
                <a class="left fas fa-chevron-left"></a>
                <a class="right fas fa-chevron-right"></a>
            </div>
            <%_ } _%>
            <div class="text">
                <%_
                    var textbody = "<p>" + article.textbody.replace(/\r?\n/g, "</p>\n<p>").replace(/<p><\/p>/g, "<br>") + "</p>";
                    article.textbody_media.forEach(media => {
                        var image = /(jpe?g|png|gif)$/gi.test(media);
                        var video = /(mp4|mov)$/gi.test(media);
                        var audio = /(mp3|m4a|wav)$/gi.test(media);
                        var iframeElm = /<iframe(.*?)<\/iframe>/gi.test(media);
                        if (image) {
                            media = '<div class="textbody-media img"><img src="'+ media +'"></div>';
                        } else if (video) {
                            media = '<div class="textbody-media video"><video><source src="'+ media +'" source></video></div>';
                        } else if (audio) {
                            media = '<div class="textbody-media audio"><audio src="'+ media +'" controls><source src="'+ media +'"></audio></div>';
                        } else if (iframeElm) {
                            media = '<div class="textbody-media iframe">'+ media +'</audio></div>';
                        }
                        textbody = textbody.replace(/<p>x<\/p>/i, "<p>"+ media +"</p>");
                    });
                _%>
                <%- textbody %>
            </div>
        </div>
    </article>
    <script>
        if (!("object-fit" in document.body.style)) $(".img-reel img").css("width", "auto");
        if ($(".img-reel img").length > 1) {
            var $img = $(".img-reel img:first");
            $(".img-reel-nav a").click(function() {
                var left = $(this).hasClass("left");
                var right = $(this).hasClass("right");
                var direction = left ? "-=" : "+=";
                $img = left ? $img.prev() : $img.next();
                $img = left && !$img.length ? $(".img-reel img:first") : right && !$img.length ? $(".img-reel img:last") : $img;
                $(".img-reel").stop().animate({ scrollLeft: direction + (Math.abs($img.offset().left - $(".img-reel").offset().left)) });
            });
        }
    </script>
<%_ include partials/footer _%>
