<%_ include partials/header _%>
    <div class="container">
        <%_ for (i = 0; i < 5; i++) { _%>
        <article class="content-container col-sm-4">
            <div class="article-content">
                <div class="img">
                    <div style="height: 100%; background-color: rgba(0, 0, 0, .2);"></div>
                </div>
                <div class="text">
                    <h1>HEADLINE</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis veniam voluptate officia obcaecati fugit tempora magni perspiciatis facere voluptates, id sequi magnam minima suscipit, earum explicabo quasi voluptatibus nam vitae.</p>
                </div>
            </div>
        </article>
        <%_ } _%>
    </div>
<%_ include partials/footer _%>
