<%_ include partials/header _%>
    <div id="image-modal" class="modal fade in" role="dialog">
        <div class="modal-icons"><button type="button" class="close-view" data-dismiss="modal">&times;</button></div>
        <div class="modal-body"></div>
    </div>

    <article class="full content-container">
        <h1><%- article.headline %></h1>
        <div class="article-content">
            <%_ if (article.headline_images.length) { _%>
            <div class="headline-images img-reel">
                <%_ article.headline_images.forEach(image => { _%>
                <img src="<%= image %>" data-toggle="modal" data-target="#image-modal">
                <%_ }) _%>
            </div>
            <div class="img-reel-nav" style="display: none">
                <a class="left fas fa-chevron-left"></a>
                <a class="right fas fa-chevron-right"></a>
            </div>
            <%_ } _%>
            <div class="text">
                <%-
                    (function() {
                        var textbody = article.textbody.split(/\r?\n/).map(x => x.trim() ? "<p>" + x.trim() + "</p>" : "<br>" ).join("");
                        var url_pattern = /(?:(?:https?|ftp|file|data):\/\/|www\.|ftp\.)(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[-A-Z0-9+&@#\/%=~_|$?!:,.])*(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[A-Z0-9+&@#\/%=~_|$])/gi;
                        textbody = textbody.replace(url_pattern, match => {
                            var href = /^www/.test(match) || !/^(https?|ftp|file|data)/.test(match) ? "http://" + match : match;
                            return "<a target='_blank' href='"+ href +"'>" + match + "</a>"
                        });
                        article.textbody_media.forEach(media => {
                            var image = /\.?(jpe?g|png|gif)$/gi.test(media);
                            var video = /\.?(mp4|mov|mkv)$/gi.test(media);
                            var audio = /\.?(mp3|m4a|mka|wav)$/gi.test(media);
                            var iframeElm = /<iframe(.*?)<\/iframe>/gi.test(media);
                            if (image) {
                                media = '<div class="textbody-media img"><img src="'+ media +'"></div>';
                            } else if (video) {
                                media = '<div class="textbody-media video"><video><source src="'+ media +'" source></video></div>';
                            } else if (audio) {
                                media = '<div class="textbody-media audio"><audio src="'+ media +'" controls><source src="'+ media +'"></audio></div>';
                            } else if (iframeElm) {
                                media = '<div class="textbody-media iframe">'+ media.match(/<iframe(.*?)<\/iframe>/g)[0] +'</div>';
                            }
                            textbody = textbody.replace(/<p>x<\/p>/i, media);
                        });
                        return textbody;
                    })()
                %>
            </div>
        </div>
    </article>
    <style>
        .text a { text-decoration: underline; }
    </style>
    <script>
        if (!("object-fit" in document.body.style)) $(".img-reel img").css("width", "auto");
        if ($(".img-reel img").length > 1) {
            var $img = $(".img-reel img:first");
            $(".img-reel-nav a").click(function() {
                var left = $(this).hasClass("left");
                var right = $(this).hasClass("right");
                var direction = left ? "-=" : "+=";
                $img = left ? $img.prev() : $img.next();
                $img = left && !$img.length ? $(".img-reel img:first") : right && !$img.length ? $(".img-reel img:last") : $img;
                var centeredPos = ($(".img-reel").width() - $img.width()) / 2;
                $(".img-reel").stop().animate({ scrollLeft: direction + (Math.abs($img.offset().left - $(".img-reel").offset().left - centeredPos)) });
            });
        }
        $(window).on("load resize", function() {
            var lastImgOffsetRight = $(".img-reel img:last").offset().left + $(".img-reel img:last").width();
            var imgReelOffsetRight = $(".img-reel").offset().left + $(".img-reel").width();
            var overflowing = lastImgOffsetRight > imgReelOffsetRight;
            $(".img-reel-nav")[overflowing ? "slideDown" : "slideUp"]();
        });
        $("img[data-toggle=modal]").click(function() { $("#image-modal .modal-body").html("<img src='"+ $(this).attr("src") +"'>") })
    </script>
<%_ include partials/footer _%>
