<%_ include partials/header _%>
    <article class="content-container">
        <div class="article-content content container">
            <div class="img col-sm-5">
                <div style="height: 100%; background-color: rgba(0, 0, 0, .2);"></div>
            </div>
            <div class="text col-sm-7">
                <h1>HEADLINE</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis veniam voluptate officia obcaecati fugit tempora magni perspiciatis facere voluptates, id sequi magnam minima suscipit, earum explicabo quasi voluptatibus nam vitae.</p>
            </div>
        </div>
    </article>    
<%_ include partials/footer _%>
