main {
	position: relative;
	overflow-x: hidden;
}

header *[class*="-container"] {
	padding: 2em 0;
}

.nav-container {
	text-align: center;
}

#nav-icon {
	margin-bottom: 1em;
	padding: 0;
}

nav {
	display: none;
	font-weight: bold;
}

@media (min-width: 768px) {
	header {
		padding: 2em 0;
	}

	header .container {
		display: table;
	}

	header *[class*="-container"] {
		display: table-cell;
		vertical-align: middle;
		float: none;
		padding: 0;
	}

	nav {
		display: block;
		text-align: right;
	}
}

.content-container {
	background-color: white;
	color: black;
}

.content-container > .content {
	min-height: 100px;
}

.video-container {
	padding: 0;
}

.video-container > .video {
	border-radius: 0;
}

.merch-highlights-section {
	padding-top: 3em;
	padding-bottom: 3em;
}

.merch-highlights {
	padding: 10px;
	background-color: transparent;
}

.merch-highlights .merch {
	border-radius: 7px;
	background-color: white;
}

.logo-container {
	text-align: center;
}

@media (min-width: 768px) {
	.logo-container {
		text-align: left;
	}
}

#cs-logo {
	height: 5em;
	border-radius: 50%;
	border: 2px solid;
	padding: 10px;
	text-align: center;
}

#cs-logo.fixed {
	position: fixed;
	height: 300px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border: 0;
	padding: 0;
	animation: fade-in .5s 1 backwards;
}

@-webkit-keyframes fade-in { from { opacity: 0 } to { opacity: 1; } }
@keyframes fade-in { from { opacity: 0 } to { opacity: 1; } }

footer {
	padding: 2em 0;
	text-align: center;
	font-size: 1.5em;
}

article:not(:last-child) {
	margin-bottom: 20px;
}

article .article-content > * {
	padding: 30px;
	height: 400px;
}

article .article-content > .img {
	padding: 0;
	margin: 0 -15px;
}

article .article-content h1 {
	font-weight: bold;
}

@media (max-width: 767px) {
	article .article-content > .text {
		height: auto;
	}
}

@media (min-width: 768px) {
	article .article-content > .img {
		margin: 0;
	}
}

.artist-bio {
	overflow: hidden;
}

.artist-bio:not(:last-child) {
	margin-bottom: 50px;
}

.artist-bio .text {
	padding: 30px;
}

.artist-bio .text h1 {
	font-weight: bold;
}

.artist-bio .text .socials {
	font-size: 1.5em;
}

.artist-bio .text .socials img {
	height: 1.5em;
}

.artist-bio .img-wrapper {
	padding: 0;
}

.artist-bio .img {
	height: 400px;
	background-color: rgba(0, 0, 0, .2);
	background-size: cover;
	background-position: center;
	padding: 0;
	margin: 0 -15px;
}

@media (min-width: 768px) {
	.artist-bio {
		background-color: transparent;
	}

	.artist-bio:nth-child(odd) {
		background-image: linear-gradient(to left, white 55%, black 55%, black 100%);
	}

	.artist-bio:nth-child(even) {
		background-image: linear-gradient(to right, white 55%, black 55%, black 100%);
	}

	.artist-bio .img {
		margin: 0;
	}

	.artist-bio .img::before,
	.artist-bio .img::after {
		position: absolute;
		content: " ";
		width: 120px;
		height: 100%;
		background-color: white;
		-webkit-transform: skew(-7deg);
		transform: skew(-7deg);
	}

	.artist-bio .img::before {
		left: -95px;
	}

	.artist-bio .img::after {
		right: -95px;
	}

	.artist-bio:nth-child(odd) .img::before {
		background-color: black;
	}

	.artist-bio:nth-child(even) .img::after {
		background-color: black;
	}

	.artist-bio .text {
		max-height: 400px;
		overflow: auto;
	}

	.artist-bio:nth-child(odd) .text {
		padding-right: 0;
	}

	.artist-bio:nth-child(even) .text {
		padding-left: 0;
	}

	.artist-bio .text {
		max-height: 400px;
		overflow: auto;
	}
}
