<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Rock+Salt&display=swap');
            body, .inner-body { font-family: 'Cutive Mono', 'Courier New', monospace; }
            #logo {
                margin-bottom: 1em;
                text-align: center;
            }
            #logo img {
                height: 80px;
                padding: 10px;
                border-radius: 50%;
                border: 2px solid;
            }
        </style>
    </head>
    <body>
        <div class="inner-body">
            <div id="logo">
                <img src="cid:logo" alt="CS logo">
            </div>
            <div id="message">
                <%- 
                    (function() {
                        var url_pattern = /(?:(?:https?|ftp|file|data):\/\/|www\.|ftp\.)(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[-A-Z0-9+&@#\/%=~_|$?!:,.])*(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[A-Z0-9+&@#\/%=~_|$])/gi;
                        return message.replace(/\r?\n/g, "<br>").replace(url_pattern, match => {
                            var href = /^www/.test(match) || !/^(https?|ftp|file|data)/.test(match) ? "http://" + match : match;
                            return "<a target='_blank' href='"+ href +"'>" + match + "</a>"
                        });
                    })()
                %>
            </div>
        </div>
    </body>
</html>
