<form method="post" action="/news/article/new">
    <label>HEADLINE</label>
    <div class="text-emphasis-styles" data-id="headline">
        <button><i>I</i></button><button><u>U</u></button>
    </div>
    <input type="text" name="headline" id="headline" required>

    <label>MAIN IMAGE(S) (OPTIONAL)</label>
    <div class="file-upload-container">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="headline_images" accept="image/*" multiple>
                <label class="custom-file-label">Choose image</label>
            </div>
            <div class="headline-image-data"></div>
            <div class="input-group-append">
                <button class="btn btn-secondary clear-uploads" type="button" data-id="headline_images">CLEAR</button>
            </div>
        </div>
    </div>

    <div class="headline-image-thumb-choice" style="display: none"></div>
    <label>ARTICLE BODY <br><span>Place an "X" on a separate line to your spot for any additional images/videos to upload.</span></label>
    <div class="text-emphasis-styles" data-id="textbody">
        <button><b>B</b></button><button><i>I</i></button><button><u>U</u></button>
    </div>
    <textarea name="textbody" id="textbody" rows="10" required></textarea>
    <div class="textbody_media"></div>
    <input type="submit" value="POST">
</form>
