<form method="post" action="/news/article/new">
    <label>HEADLINE</label>
    <div class="text-emphasis-styles" data-id="headline">
        <button><i>I</i></button><button><u>U</u></button>
    </div>
    <input type="text" name="headline" id="headline" required>
    <label>MAIN IMAGE(S) (OPTIONAL)</label>
    <div class="input-group row" style="display: block">
        <div class="col-sm-6 col-xs-9"><input type="file" name="headline_images" id="headline_images" accept="image/*" multiple></div>
        <div class="col-sm-6 col-xs-3"><button class="clear-uploads" data-id="headline_images">CLEAR</button></div>
    </div>
    <div class="input-group headline-image-thumb-choice" style="display: none"></div>
    <label>ARTICLE BODY <br><span>Place an "X" on a separate line to your spot for any additional images/videos to upload.</span></label>
    <div class="text-emphasis-styles" data-id="textbody">
        <button><b>B</b></button><button><i>I</i></button><button><u>U</u></button>
    </div>
    <textarea name="textbody" id="textbody" rows="10" required></textarea>
    <div class="input-group" id="textbody_media"></div>
    <input type="submit" value="POST">
</form>
