<form method="post" action="/team/new">
    <label>NAME</label>
    <input type="text" name="name" id="artist_name" required>
    <label>BIO</label>
    <div class="text-emphasis-styles" data-id="bio">
        <button><b>B</b></button><button><i>I</i></button><button><u>U</u></button>
    </div>
    <textarea type="text" name="bio" id="bio" rows="5" required></textarea>
    <label>PROFILE PICTURE (OPTIONAL)</label>
    <div class="file-upload-container">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="profile_image" accept="image/*">
                <label class="custom-file-label">Choose image</label>
            </div>
            <div class="input-group-append">
                <input type="hidden" name="profile_image">
                <button class="btn btn-secondary clear-uploads" type="button" data-id="profile_image">Clear</button>
            </div>
        </div>
    </div>

    <label>SOCIAL MEDIA LINKS <i class="fas fa-chevron-down"></i></label>
    <div class="social-media-input-group">
        <div class="social-media-input input-item row">
            <div class="col-sm-4 float-left">
                <select name="social_media_name" class="social-media-name">
                    <option value="">Choose social</option>
                    <%_ ["Twitter", "Instagram", "Facebook", "Spotify", "SoundCloud", "Apple Music", "Tidal", "Bandcamp", "Deezer", "Google Play", "Linktree"].forEach(social => { _%>
                    <option value="<%= social.toLowerCase().replace(/[ _]/g, '') %>"><%= social %></option>
                    <%_ }) _%>
                </select>
            </div>
            <div class="col-sm-8 float-left">
                <input type="url" name="social_media_url" class="social-media-url" placeholder="Enter URL">
            </div>
            <div class="col-sm-12 float-left" style="text-align: right; margin-top: -1em;">
                <button class="add">Add</button>
                <button class="remove">Remove</button>
            </div>
        </div>
    </div>

    <input type="submit" value="SAVE">
</form>
