<form method="post" action="/artists/new">
    <label>NAME</label>
    <input type="text" name="name" id="name" required>
    <label>BIO</label>
    <div class="text-emphasis-styles" data-id="bio">
        <button><b>B</b></button><button><i>I</i></button><button><u>U</u></button>
    </div>
    <textarea type="text" name="bio" id="bio" rows="5" required></textarea>
    <label>PROFILE PICTURE (OPTIONAL)</label>
    <div class="input-group row" style="display: block">
        <div class="col-sm-6 col-xs-9"><input type="file" name="profile_image" id="profile_image" accept="image/*"></div>
        <div class="col-sm-6 col-xs-3"><button class="clear-uploads" data-id="profile_image">CLEAR</button></div>
    </div>
    <div class="input-group" style="display: block">
        <%_ ["SoundCloud", "Spotify", "Tidal", "Apple Music", "Deezer", "Google Play", "Twitter", "Instagram", "Facebook", "Linktree"].forEach(social => { _%>
        <div class="col-sm-3"><label><%= social.toUpperCase() %>:</label></div>
        <%_ social = social.toLowerCase().replace(/ /g, '_'); _%>
        <div class="col-sm-9"><input type="url" name="social_<%= social %>" id="social_<%= social %>" placeholder="Enter URL (optional)"></div>
        <%_ }) _%>
    </div>
    <input type="submit" value="SAVE">
</form>
