<form method="post" action="/discography/project/new">
    <label>ARTWORK</label>
    <div class="file-upload-container">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="artwork_file" accept=".jpg,.jpeg,.png,.bmp">
                <label class="custom-file-label">Choose image</label>
            </div>
            <div class="input-group-append">
                <input type="hidden" name="artwork_file">
                <button class="btn btn-secondary clear-uploads" type="button" data-id="artwork_file">Clear</button>
            </div>
        </div>
        <input type="url" name="artwork_url" id="artwork_url" placeholder="Or enter the image URL">
    </div>

    <label>TITLE</label>
    <input type="text" name="title" id="title" required>

    <label>ARTIST</label>
    <input type="text" name="artist" id="artist" required>

    <label>YEAR</label>
    <%_ var thisYear = new Date().getFullYear(); _%>
    <input type="number" name="year" id="year" min="2000" max="<%= thisYear %>" value="<%= thisYear %>" required>

    <label>LINKS (OPTIONAL)</label>
    <div class="link-item-group input-item-group">
        <div class="link-item input-item">
            <div class="input-group">
                <select class="form-control custom-select link-name" name="link_name">
                    <option value="">Choose link name</option>
                    <%_ platforms.forEach(social => { _%>
                    <option value="<%= social.toLowerCase().replace(/[ _]/g, '') %>"><%= social %></option>
                    <%_ }) _%>
                </select>
                <input type="url" name="link_url" class="form-control link-url" placeholder="Enter URL">
            </div>
            <div class="input-group opt-btn-group">
                <button type="button" class="form-control add">Add</button>
                <button type="button" class="form-control remove">Remove</button>
            </div>
        </div>
    </div>

    <label><span>Check the box in case entering every link is unnecessary</span></label>
    <div class="input-group all_platforms_opt">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" name="all_platforms" id="all_platforms">
            </div>
        </div>
        <label class="form-control" for="all_platforms"><b>ALL PLATFORMS?</b></label>
    </div>

    <input type="submit" value="SAVE">
</form>
