<form method="post" action="/discography/project/new">
    <label>ARTWORK</label>
    <div class="file-upload-container">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="artwork_file" accept=".jpg,.jpeg,.png,.bmp">
                <label class="custom-file-label">Choose image</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-secondary clear-uploads" type="button" data-id="artwork_file">CLEAR</button>
            </div>
            <input type="hidden" name="artwork_file">
        </div>
        <input type="url" name="artwork_url" id="artwork_url" placeholder="Or enter the image URL">
    </div>

    <label>TITLE</label>
    <input type="text" name="title" id="title" required>

    <label>ARTIST</label>
    <input type="text" name="artist" id="artist" required>

    <label>YEAR</label>
    <%_ var thisYear = new Date().getFullYear(); _%>
    <input type="number" name="year" id="year" min="2000" max="<%= thisYear %>" value="<%= thisYear %>" required>

    <label>LINKS (OPTIONAL) <i class="fas fa-chevron-down"></i></label>
    <div class="link-item-group">
        <div class="link-item input-item row">
            <div class="col-sm-4 float-left">
                <select name="link_name" class="link-name">
                    <option value="">Choose link name</option>
                    <%_ ["Twitter", "Instagram", "Facebook", "Spotify", "SoundCloud", "Apple Music", "Tidal", "Bandcamp", "Deezer", "Google Play", "Linktree"].forEach(social => { _%>
                    <option value="<%= social.toLowerCase().replace(/[ _]/g, '') %>"><%= social %></option>
                    <%_ }) _%>
                </select>
            </div>
            <div class="col-sm-8 float-left">
                <input type="url" name="link_url" class="link-url" placeholder="Enter URL">
            </div>
            <div class="col-sm-12 float-left" style="text-align: right; margin-top: -1em;">
                <button class="add">ADD</button>
                <button class="remove">REMOVE</button>
            </div>
        </div>
    </div>

    <label><span>Check the box in case entering every link is unnecessary</span></label>
    <input type="checkbox" name="all_platforms" id="all_platforms"> <b>ALL PLATFORMS?</b> <br>

    <input type="submit" value="SAVE">
</form>
