<form method="post" action="/discography/project/new">
    <label>ARTWORK</label>
    <div class="input-group row" style="display: block">
        <div class="col-sm-6 col-xs-9"><input type="file" name="artwork_file" id="artwork_file" accept=".jpg,.png,.bmp" required></div>
        <div class="col-sm-6 col-xs-3"><button class="clear-uploads" data-id="artwork_file">CLEAR</button></div>
        <div class="col-sm-12"><input type="text" name="artwork_url" id="artwork_url" placeholder="Or enter the image URL"></div>
    </div>
    <label>TITLE</label>
    <input type="text" name="title" id="title" required>
    <label>ARTIST</label>
    <input type="text" name="artist" id="artist" required>
    <label>YEAR</label>
    <input type="number" name="year" id="year" min="2000" max="<%= new Date().getFullYear() %>" required>
    <label>LINKS <span>(OPTIONAL) - place each URL on a new line</span></label>
    <textarea type="text" name="links" id="links" rows="5" required></textarea>
    <label><span>In case you think entering every link is unnecessary</span></label>
    <input type="checkbox" name="all_platforms" id="all_platforms"> <b>ALL PLATFORMS?</b> <br>
    <input type="submit" value="SAVE">
</form>
