<%_ var { homepage_contents } = db, contents = homepage_contents; _%>
<form method="POST" action="/homepage/content" id="homepage_content_form">
    <label for="banner_text">BANNER TEXT</label>
    <input type="text" name="banner_text" id="banner_text" value="<%= contents[0] ? contents[0].banner_text : '' %>">

    <label for="footnote_text">FOOTNOTE TEXT / QUOTE</label>
    <input type="text" name="footnote_text" id="footnote_text" value="<%= contents[0] ? contents[0].footnote_text : '' %>">

    <input type="submit" value="UPDATE HOMEPAGE CONTENT">
</form>
<br>

<form method="POST" action="/homepage/image/save" id="homepage_images_form">
    <label for="homepage_image_input">HOMEPAGE IMAGE UPLOAD</label><br>
    <input type="file" name="image" id="homepage_image_input" accept="image/*" required>

    <label for="homepage_image_filename">FILE NAME <span>(Automatically appears when you upload images, but feel free to rename)</span></label>
    <input type="text" name="filename" id="homepage_image_filename" required>

    <input type="submit" value="UPLOAD HOMEPAGE IMAGES">
</form>
