<form method="post" action="/map/location/new">
    <label>NAME</label>
    <input type="text" name="name" id="location_name" required>

    <label>STREET ADDRESS</label>
    <input type="text" name="street_address" id="street_address" required>

    <label>CITY</label>
    <input type="text" name="city" id="city" required>

    <label>STATE / COUNTRY</label>
    <input type="text" name="country" id="country" required>

    <label>ZIP / POST CODE (OPTIONAL)</label>
    <input type="text" name="postcode" id="postcode">

    <input type="submit" value="SAVE">
</form>
