<form method="post" action="/shop/stock/add">
    <label>PRODUCT NAME</label>
    <input type="text" name="name" id="product-name" required>

    <label>PRICE (GBP £)</label>
    <input type="number" name="price" id="price" min="0.01" step="0.01" required>

    <label>TOTAL IN STOCK</label>
    <input type="number" name="stock_qty" id="stock_qty" min="1" value="1" required>

    <label>PRODUCT INFO <span>(OPTIONAL)</span></label>
    <textarea name="info" id="product_info" rows="10"></textarea>

    <label>PRODUCT IMAGE</label>
    <div class="file-upload-container">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="product-image-file" accept=".jpg,.jpeg,.png,.bmp">
                <label class="custom-file-label">Choose image</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-secondary clear-uploads" type="button" data-id="product-image-file">CLEAR</button>
            </div>
            <input type="hidden" name="image_file">
        </div>
        <input type="url" name="image_url" id="product-image-url" placeholder="Or enter the image URL">
    </div>

    <input type="submit" value="SAVE">
</form>
